@charset "UTF-8";

/*
common
-------------------------------------------------------------------------------*/

body { 
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 62.5%;
	line-height: 100%;
	font-family: "ＭＳ Ｐゴシック", 'Verdana', 'Gulim', 'Apple Gothic', 'Arial', sans-serif;
}

div,pre,form,fieldset,p,blockquote { 
	margin: 0;
	padding: 0;
	text-align: left;	line-height: 1.5;
}

p,pre,blockquote,table {
	margin: 0;
	padding: 0;
	text-align: left;	line-height: 1.5;
}

input,textarea {
	margin: 0;
	padding: 1px;	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-weight: normal;
	text-align: left;
}

dl,ul { 
	margin: 0;
	padding: 0;
}

dt,dd {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

ul li {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	list-style:none;
}

ol li {
	margin: 0 0 0 20px;
	padding: 0;
	line-height: 1.5;
	list-style:none;
}

table {
	margin: 0;
	padding: 0;
}

th,td {	line-height: 1.5;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

fieldset,img {
	border: 0;
}

abbr,acronym {
	border: 0;
}

.left {
	float: left;
}

img .left {
	float: left;
	display: block;
}

.right {
	float: right;
}

img .right {
	float: right;
	display: block;
}

.topSpace {
	padding-top: 20px;
}

.topSpaceSmall {
	padding-top: 10px;
}

.goTop {
	width: 100%;
	padding: 11px 0 0;
	text-align: right;
}

.clear {
	clear: both;
}

.clearFix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

.clearFix {
	zoom: 100%;
}

/*
Link
-------------------------------------------------------------------------------*/

a:link 		{ color: #333333; text-decoration: none; }
a:active 	{ color: #333333; text-decoration: none; }
a:visited 	{ color: #333333; text-decoration: none; }
a:hover 	{ color: #FF0D0D; text-decoration: underline; }


/*
text
-------------------------------------------------------------------------------*/

.smallTxt {
	font-size: 0.8em;
	line-height: 1.3em;
}

.bigTxt {
	font-size: 1.2em;
}

.normalTxt {
	font-weight: normal;
}

.boldTxt {
	font-weight: bold;
}

.txtLeft {
	text-align: left;
}

.txtRight {
	text-align: right;
}

.txtCenter {
	text-align: center;
}


/*
color
-------------------------------------------------------------------------------*/

.red {
	color: #ee0000;
}

.blue {
	color: #0000ff;
}


/*
container
-------------------------------------------------------------------------------*/

div#container {
	width: 950px;
	margin: 0 auto;
	font-size: 1.2em;
}


/*
header
-------------------------------------------------------------------------------*/

#header {
	padding: 10px 10px;
}

#header:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

#header {
	zoom: 100%;
}

	#header #logo {
		width: 343px;
		height: 18px;
		float: left;
		overflow: hidden;
		position: relative;
	}

		#logo #logoImg {
			position: absolute;
			top: 0;
			left: 0;
		}
	
	#header #headerNav {
		width: auto;
		float: right;
	}

	#headerNav:after {
		content: ".";
		display: block;
		visibility: hidden;
		height: 0.1px;
		font-size: 0.1em;
		line-height: 0;
		clear: both;
	}
	
	#headerNav {
		zoom: 100%;
	}

		#header #headerNav li {
			width: auto;
			float: left;
			padding: 0 10px;
			background: url(../img/common/arrow_yellow.gif) no-repeat 0 5px;
		}

/*
nav
-------------------------------------------------------------------------------*/

#nav {
	width: 950px;
	height: 34px;
	position: relative;
}

#nav:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

#nav {
	zoom: 100%;
}

	#nav li {
		width: auto;
		height: 34px;
		margin: 0;
		padding: 0;
		float: left;
		position: relative;
	}

ul#nav #subMenu  {
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1000;
}

ul#nav ul a { zoom: 1; } /* IE6/7 fix */

ul#nav ul ul {
	top: 0;
}

#subMenu li {
	width: 119px;
	height: 26px;
	float: none;
	z-index: 2000;
}

#subMenu li a {
	width: 97px;
	height: 20px;
	display: block;
	padding: 3px 10px;
	background-image:none;
	background-color: #fff;
	border: 1px solid #ccc;
	text-indent: 0;
	
}

#subMenu li a:hover {
	width: 97px;
	height: 23px;
	display: block;
	padding-top: 3px;
	text-indent: 0;
	background-image:none;	
	background-color: #F93535;
	border: 1px solid #bbb;
	text-indent: 0;
	color: #fff;
}


/*
nav
-------------------------------------------------------------------------------*/

#billboard {
	width: 745px;
	height: 23px;
	padding: 35px 82px 10px 123px;
	background: url(../img/common/billboard_img.gif) no-repeat;
}

	.tickercontainer { /* the outer div with the black border */
		width: 745px;
		margin: 0 auto;
		padding: 0;
		overflow:hidden;
	}
	.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
		position: relative;
		left: 0px;
		top: 0px;
		width: 745px;
		overflow: hidden;
	}
	ul.newsticker { /* that's your list */
		position: relative;
		left: 745px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	
	}
	ul.newsticker li {
		float: left; /* important: display inline gives incorrect results when you check for elem's width */
		margin: 0;
		padding: 0;
	}
	ul.newsticker span {
		margin: 0 40px 0 0;
		color: #F98E1B;
		font-size: 12px;
	}


/*
contents
-------------------------------------------------------------------------------*/

#contents {
	margin-top: 10px;
}

	#mainImg {
		margin-bottom: 15px;
	}
	

#contentsInsidePage {
	margin: 20px auto;
	padding: 0 20px ;
}

	.section {
		margin-top: 30px;
		padding: 0 20px;
	}
	
		.sctInnder {
			padding: 30px 20px 20px;
		}

/*
subArea
-------------------------------------------------------------------------------*/

	#subArea {
		width: 200px;
		padding: 10px 10px 0;
		float: right;
	} 	
		
			#subArea img {
				display: block;
				margin-bottom: 10px;
			} 

/*
footer
-------------------------------------------------------------------------------*/

#footer {
	position: relative;
	min-height: 150px;
	font-size: 1.2em;
	background: url(../img/common/footer_bg.gif) repeat-x #f6f6f6;
}

	#footCnt {
		width: 100%;
		float: left;
		padding: 55px 0 0 0;
		background: url(../img/common/footer_tsubame.gif) no-repeat 0 0px;
	}
	
		#footCnt ul {
			width: 500px;
			margin-left: 595px;
			background: transparent;
		}

			#footCnt ul li {
				display: inline;
			}
	
		#footCnt address {
			width: 500px;
			margin: 5px 0 0 595px;
		}
@charset "UTF-8";

/*
common
-------------------------------------------------------------------------------*/

body { 
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 62.5%;
	line-height: 100%;
	font-family: "ＭＳ Ｐゴシック", 'Verdana', 'Gulim', 'Apple Gothic', 'Arial', sans-serif;
}

div,pre,form,fieldset,p,blockquote { 
	margin: 0;
	padding: 0;
	text-align: left;	line-height: 1.5;
}

p,pre,blockquote,table {
	margin: 0;
	padding: 0;
	text-align: left;	line-height: 1.5;
}

input,textarea {
	margin: 0;
	padding: 1px;	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-weight: normal;
	text-align: left;
}

dl,ul { 
	margin: 0;
	padding: 0;
}

dt,dd {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

ul li {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	list-style:none;
}

ol li {
	margin: 0 0 0 20px;
	padding: 0;
	line-height: 1.5;
	list-style:none;
}

table {
	margin: 0;
	padding: 0;
}

th,td {	line-height: 1.5;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

fieldset,img {
	border: 0;
}

abbr,acronym {
	border: 0;
}

.left {
	float: left;
}

img .left {
	float: left;
	display: block;
}

.right {
	float: right;
}

img .right {
	float: right;
	display: block;
}

.topSpace {
	padding-top: 20px;
}

.topSpaceSmall {
	padding-top: 10px;
}

.goTop {
	width: 100%;
	padding: 11px 0 0;
	text-align: right;
}

.clear {
	clear: both;
}

.clearFix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

.clearFix {
	zoom: 100%;
}

/*
Link
-------------------------------------------------------------------------------*/

a:link 		{ color: #333333; text-decoration: none; }
a:active 	{ color: #333333; text-decoration: none; }
a:visited 	{ color: #333333; text-decoration: none; }
a:hover 	{ color: #FF0D0D; text-decoration: underline; }


/*
text
-------------------------------------------------------------------------------*/

.smallTxt {
	font-size: 0.8em;
	line-height: 1.3em;
}

.bigTxt {
	font-size: 1.2em;
}

.normalTxt {
	font-weight: normal;
}

.boldTxt {
	font-weight: bold;
}

.txtLeft {
	text-align: left;
}

.txtRight {
	text-align: right;
}

.txtCenter {
	text-align: center;
}


/*
color
-------------------------------------------------------------------------------*/

.red {
	color: #ee0000;
}

.blue {
	color: #0000ff;
}


/*
container
-------------------------------------------------------------------------------*/

div#container {
	width: 950px;
	margin: 0 auto;
	font-size: 1.2em;
}


/*
header
-------------------------------------------------------------------------------*/

#header {
	padding: 10px 10px;
}

#header:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

#header {
	zoom: 100%;
}

	#header #logo {
		width: 343px;
		height: 18px;
		float: left;
		overflow: hidden;
		position: relative;
	}

		#logo #logoImg {
			position: absolute;
			top: 0;
			left: 0;
		}
	
	#header #headerNav {
		width: auto;
		float: right;
	}

	#headerNav:after {
		content: ".";
		display: block;
		visibility: hidden;
		height: 0.1px;
		font-size: 0.1em;
		line-height: 0;
		clear: both;
	}
	
	#headerNav {
		zoom: 100%;
	}

		#header #headerNav li {
			width: auto;
			float: left;
			padding: 0 10px;
			background: url(../img/common/arrow_yellow.gif) no-repeat 0 5px;
		}

/*
nav
-------------------------------------------------------------------------------*/

#nav {
	width: 950px;
	height: 34px;
	position: relative;
}

#nav:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

#nav {
	zoom: 100%;
}

	#nav li {
		width: auto;
		height: 34px;
		margin: 0;
		padding: 0;
		float: left;
		position: relative;
	}

ul#nav #subMenu  {
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1000;
}

ul#nav ul a { zoom: 1; } /* IE6/7 fix */

ul#nav ul ul {
	top: 0;
}

#subMenu li {
	width: 119px;
	height: auto;
	float: none;
	z-index: 2000;
}

#subMenu li a {
	width: 97px;
	height: auto;
	display: block;
	padding: 3px 10px;
	background-image:none;
	background-color: #fff;
	border: 1px solid #ccc;
	text-indent: 0;
	
}

#subMenu li a:hover {
	width: 97px;
	height: auto;
	display: block;
	padding-top: 3px;
	text-indent: 0;
	background-image:none;	
	background-color: #F93535;
	border: 1px solid #bbb;
	text-indent: 0;
	color: #fff;
}


/*
nav
-------------------------------------------------------------------------------*/

#billboard {
	width: 745px;
	height: 23px;
	padding: 35px 82px 10px 123px;
	background: url(../img/common/billboard_img.gif) no-repeat;
}

	.tickercontainer { /* the outer div with the black border */
		width: 745px;
		margin: 0 auto;
		padding: 0;
		overflow:hidden;
	}
	.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
		position: relative;
		left: 0px;
		top: 0px;
		width: 745px;
		overflow: hidden;
	}
	ul.newsticker { /* that's your list */
		position: relative;
		left: 745px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	
	}
	ul.newsticker li {
		float: left; /* important: display inline gives incorrect results when you check for elem's width */
		margin: 0;
		padding: 0;
	}
	ul.newsticker span {
		margin: 0 40px 0 0;
		color: #F98E1B;
		font-size: 12px;
	}


/*
contents
-------------------------------------------------------------------------------*/

#contents {
	margin-top: 10px;
}

	#mainImg {
		margin-bottom: 15px;
	}
	

#contentsInsidePage {
	margin: 20px auto;
	padding: 0 20px ;
}

	.section {
		margin-top: 30px;
		padding: 0 20px;
	}
	
		.sctInnder {
			padding: 30px 20px 20px;
		}

/*
subArea
-------------------------------------------------------------------------------*/

	#subArea {
		width: 200px;
		padding: 10px 10px 0;
		float: right;
	} 	
		
			#subArea img {
				display: block;
				margin-bottom: 10px;
			} 

/*
footer
-------------------------------------------------------------------------------*/

#footer {
	position: relative;
	min-height: 150px;
	font-size: 1.2em;
	background: url(../img/common/footer_bg.gif) repeat-x #f6f6f6;
}

	#footCnt {
		width: 100%;
		float: left;
		padding: 55px 0 0 0;
		background: url(../img/common/footer_tsubame.gif) no-repeat 0 0px;
	}
	
		#footCnt ul {
			width: 500px;
			margin-left: 595px;
			background: transparent;
		}

			#footCnt ul li {
				display: inline;
			}
	
		#footCnt address {
			width: 500px;
			margin: 5px 0 0 595px;
		}
		
		
		
.underConstruction {
	font-size:300%;
	font-weight: bold;
	padding: 100px 0;
	text-align: center;
}
