@charset "UTF-8";

.mrB15 {	margin-bottom: 15px; }

#sctInner {
	width: 870px;
	margin: 0 auto;
	background: url(../img/japan/side_bg.gif) top right repeat-y; 
}

	#mainArea {
		width: 625px;
		float: left;
	}

		#companyTable {
			border: 3px double #eee;
			border-collapse: separate;
		}

			#companyTable th,
			#companyTable td {
				padding: 5px;
				border: 1px solid #ddd;
				border-bottom: 1px solid #fff;
				border-right: 1px solid #fff;
				border-collapse: separate;
				text-align: left;
				vertical-align: top;
			}

			#companyTable th {
				width: 110px;
				background-color: #F8EBC7;
				font-weight: bold;
				color: #454545;
			}
			
			.businessList li {
				margin-left: 15px;
				list-style-type: disc;
			}
